*{
	margin: 0px;
	padding: 0px;
}

#above_nav{
	margin-left: 25px;
	font-family: ubuntu;
	color: #fafafa;
	font-size: 30px;
	display: flex;
	flex-wrap: wrap;
}
#login{
	 margin-left:1030px; 
	 font-size:15px;
     margin-top:15px; 
     color:#ffffff; 
     text-decoration:none
}

#engifest_events{
	font-family: ubuntu;
	color: #424242;
	font-size: 25px;
	margin-top: 30px;
	margin-left: 60px;
}
<<<<<<< HEAD
#latest_events{
	font-family: ubuntu;
	color: #424242;
	font-size: 25px;
	margin-top: 30px;
	margin-left: 60px;
}
#troika_events{
	font-family: ubuntu;
	color: #424242;
	font-size: 25px;
	margin-top: 30px;
	margin-left: 60px;
}


#antar_events{
	font-family: ubuntu;
	color: #424242;
	font-size: 25px;
	margin-top: 30px;
	margin-left: 60px;
}

#phoenix_events{
	font-family: ubuntu;
	color: #424242;
	font-size: 25px;
	margin-top: 30px;
	margin-left: 60px;
}
=======

>>>>>>> cfafb56756810d690fe02a0ea027663ca68b5ecc
#p_text{
	font-family: ubuntu;
	color: #424242;
	font-size: 25px;
	margin-left: 30px;
}
#publicize{

	height: 100px;
	width: 1100px;
	margin-top: 50px;
	background: #eeeeee;
	margin-left: 60px;
	box-shadow: 0px 5px 4px #595959;
    display: flex;
	flex-wrap: wrap;
}

#host_more{
	 margin-left: 250px;
	 background: #e53935;
	 color: #fafafa;
	 width: 140px; 
	 height:50px;
	 border-radius: 2px;
	 border:solid 2px #e53935;
     font-size: 18px; font-family: ubuntu;
     box-shadow: 1px 4px 5px #595959;
}

.single_event_layout{
	box-shadow: 3px 4px 5px #595959;
	width: 280px;
	margin-left:40px;
	margin-top: 30px;
<<<<<<< HEAD
	margin-bottom: 10px;
=======
>>>>>>> cfafb56756810d690fe02a0ea027663ca68b5ecc
}

.recommended{
	display: flex;
	flex-wrap: wrap;
}

#parent_div{
	display: flex;
	flex-wrap: wrap;

<<<<<<< HEAD
}

#parent_troika{
	display: flex;
	flex-wrap: wrap;
}
#parent_phoenix{
	display: flex;
	flex-wrap: wrap;
}
#parent_antar{
	display: flex;
	flex-wrap: wrap;
}
#parent_latest{
	display: flex;
	flex-wrap: wrap;
=======
>>>>>>> cfafb56756810d690fe02a0ea027663ca68b5ecc
}